<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxoTQSK5ky9v2k1jsP-NCrPeOK4trRTgo</string>
	<key>GCM_SENDER_ID</key>
	<string>69394371572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apikeyManager</string>
	<key>PROJECT_ID</key>
	<string>api-key-manager-81047</string>
	<key>STORAGE_BUCKET</key>
	<string>api-key-manager-81047.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69394371572:ios:b509dcb340849a1d779fa1</string>
</dict>
</plist>